*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
min-height: 100vh;
overflow-x: hidden;
}

.search-form {
    margin: auto;
}

.section {
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.input {
    padding: 5px;
    width: 300px; 
    height: 30px;
    outline: none;
}

.btn-submit{
    height: 28px;
    width: 28px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.load-more{
    padding: 5px;
    font-weight: 700;
    background-color: transparent;
    color:white;
    border: 2px;
    border-color: #fff;
    cursor: pointer;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.gallery_link{
    margin-top: 50px;
    text-decoration: none;
}

.photo-card {
    margin: 15px;
    width: 300px;
    text-decoration: none;
    
}


.photo-card:nth-child(3n) {
    margin-right: 0;
}


.gallery-image {
    width: 100%;
    height: 200px;
}

.hide {
 display: none;
}

.info {
    display: flex;
    font-size: 14px;
}

.info-item {
    color: black;
    text-align: center;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: palevioletred;
    color: #fff;
    transform: translatey(-100%);
    transition: transform 250ms ease-in-out;
}

.alert.is-visible {
    transform: translatey(0);
}